<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Banana</string>
		<key>Image</key>
		<string>BananaIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Butter Pecan</string>
		<key>Image</key>
		<string>ButterPecanIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cake Batter</string>
		<key>Image</key>
		<string>CakeBatterIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Candy Cane</string>
		<key>Image</key>
		<string>CandyCaneIceCream.png</string>
		<key>Active</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chocolate Cake Batter</string>
		<key>Image</key>
		<string>ChocolateCakeBatterIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chocolate</string>
		<key>Image</key>
		<string>ChocolateIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cinnamon</string>
		<key>Image</key>
		<string>CinnamonIceCrean.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Coconut</string>
		<key>Image</key>
		<string>CoconutIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Coffee</string>
		<key>Image</key>
		<string>CoffeeIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cotton Candy</string>
		<key>Image</key>
		<string>CottonCandyIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fudge Truffle</string>
		<key>Image</key>
		<string>DarkChocolateIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lemon Sorbet</string>
		<key>Image</key>
		<string>LemonSorbetIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mango</string>
		<key>Image</key>
		<string>MangoIceCream.png</string>
		<key>Active</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mint</string>
		<key>Image</key>
		<string>MintIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Oreo Cream Filling</string>
		<key>Image</key>
		<string>OreoCreamFillingIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pistachio</string>
		<key>Image</key>
		<string>PistachioIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pumpkin</string>
		<key>Image</key>
		<string>PumpkinIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Red Hot Strawberry</string>
		<key>Image</key>
		<string>RedHotStrawberryIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Skinny Vanilla</string>
		<key>Image</key>
		<string>SkinnyVanillaIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Strawberry</string>
		<key>Image</key>
		<string>StrawBerryIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sweet Cream</string>
		<key>Image</key>
		<string>SweetCreamIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Vanilla</string>
		<key>Image</key>
		<string>VanillaIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cheese Cake</string>
		<key>Image</key>
		<string>CheeseCakeIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Watermelon Sorbet</string>
		<key>Image</key>
		<string>WatermelonSorbetIceCream.png</string>
		<key>Active</key>
		<true/>
	</dict>
</array>
</plist>
